<%- include ('partials/header.ejs') -%>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To Blogger Point!</h1>
      <p></p>
      <p>
        <a class="btn btn-primary btn-large" style="color:white; background-color:black;" href="/blogs/new">Add New blog</a>
      </p>

  

        <div class="row text-center" style="display:-webkit-inline-box; flex-wrap: wrap;">
          <% blogs.forEach(function(blog){ %>
          <div class="col-md-3 col-sm-6" >
            <div class="thumbnail">
              <img src="<%= blog.image %>">
              <div class="caption">
                <h2><%= blog.Author %></h4>
              </div>
              <div class="title">
                  <h4><%= blog.title %></h4>
              </div>
              <p>
                <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read Blog!</a>
              </p>
            </div>
          </div>
          <% }); %>
        </div>
      </div>

<%- include ('partials/footer.ejs') -%>